body {
    align-items: center;
    background-color: #010712;
    color: #efeff0;
    font-family: Poppins;
    height: 400px;
    width: 250px;
}

h1 {
    font-size: 24px;
    font-weight: 400;
    padding: 10px 0;
    text-align: center;
    text-transform: uppercase;
}

.favoritos {
    background-color: #13171f;
    border-radius: 5px;
    margin: 10px 7px;
    padding: 5px;
    width: 225px;
}

.favoritos__titulo {
    align-items: center;
    display: flex;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
}

.favoritos__subtitulo {
    font-size: 12px;
    font-weight: 400;
}


.container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.abas, .list, .list__button {
    width: 235px;
    padding: 0;
    margin: 0;
}

.list {
    align-items: center;
    background-color: #13171f;
    border-radius: 5px;
    display:flex;
    flex-direction: column;
    font-size: 14px;
    font-weight: 400;
    text-align: start;
    margin-bottom: 5px;
}

.list__button {
    align-items: center;
    background-color: #13171f;
    border: none;
    border-radius: 5px;
    color: #efeff0;
    display: flex;
    font-family: Poppins; 
    font-size: 14px;
    height: 31px;
    transition: 1s all;
}

.list__item, .list__span {
    align-items: center;
    display: flex;
    height: 20px;
    width: 178px;
}

.list__item {
    background-color: #13171f;
    border-left: 2px solid #B1B2B5;
    padding: 0 11px;
    padding-bottom: 5px;
    text-decoration: none;
}

.list__item:last-child {
    padding-bottom: 0px;
}

.list__span {
    background-color: #1c1f26;
    border-radius: 5px;
    justify-content: flex-start;
    transition: 1s all;
}

.list__anchor {
    color: #efeff0; 
    font-size: 12px;
    text-decoration: none;
    width: 125px;
}

.list__button:hover, .list__span:hover {
    background-color: #24262d;
}

.list__arrow, .list__icon  {
    height: 21px;
    margin: 0 7px;
    transition: 1s all;
    width: 21px;
}

.list__icon {
    height: 14px;
    width: 14px;
}

.list__star {
    cursor: pointer;
    height: 14px;
}

/*
Adicionar na classe "list" quando criar a função de listagem de sites:
    padding-bottom: 12px;


    .list__arrow {
    
}

    */
